# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist
.next
out

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vercel
.vercel

# Strapi
.tmp/
public/uploads/
*.db
*.db-journal
